:root {
  --primary-color: #b17d52;
  --light-bg: #f9f9f9;
  --dark-bg: #222222;
  --light-text: #222;
  --dark-text: #f9f9f9;
}

body.light {
  background-color: var(--light-bg);
  color: var(--light-text);
}

body.dark {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #9a6c48;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}


h1, h2, p {
  margin: 0.5rem 0;
}